name: Build and deploy Node.js app to Azure Web App - plantelligence-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install backend production dependencies
        run: npm ci --ignore-scripts --omit=dev --workspace=backend

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app-backend
          path: backend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app-backend

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2C9213D9E9D544F5BB08B96CD3489525 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5CD999DF57F34DB78F3461E4B3C47D06 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6FDCC0D6FC9F4408963259E3ADA6E840 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'plantelligence-backend'
          slot-name: 'Production'
          package: '.'
          startup-command: 'node server.js'
